@model Weather
@{
    ViewData["Title"] = "Mars Weather";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <div class="container">
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            <a class="active">Mars Weather</a>
            @Html.ActionLink("EpicEarth", "EpicEarth","EpicEarth")
            @Html.ActionLink("About", "About", "About")

            <select id="page" onchange="doNavigate()"> 
                <option value="" selected="selected">Select</option> 
                <option value="@Url.Action("Index", "Home")">Home</option> 
                <option value="@Url.Action("apod", "ImageOfDay")">Astronomy Picture of the Day</option> 
                <option value="@Url.Action("Weather", "Weather")">Mars Weather</option> 
                <option value="@Url.Action("EpicEarth", "EpicEarth")">Epic Earth</option> 
                <option value="@Url.Action("Rovers" , "MarsRoverImage")">Mars Rover Pictures</option>
                <option value="@Url.Action("About", "About")">About</option> 
            </select> 
            <script>
                function doNavigate() {
                window.location.href = document.getElementById("page").value;
            }
            </script>
        </div>
        <br/><br/><br/>
        <p align="center">
            <iframe src='https://mars.nasa.gov/layout/embed/image/mslweather/' scrolling='no' frameborder='0' width='950' height='550'></iframe>
            <br/><br/>
            <div style="text-align:center;">
                @using (Html.BeginForm("Weather", "Weather", FormMethod.Post))
                {
                    <label for="datepicker" style="color:white; font-family: Arial, Helvetica, sans-serif; font-size:16px;">Historical Weather Lookup:</label>
                    @Html.EditorFor(model => model.DateData, new { htmlAttributes = new { @class = "datepicker" } })
                    <input type="submit" value="Submit"/>
                    <span style="color:white; padding-left:10px; font-family: Arial, Helvetica, sans-serif; font-size:16px;">
                        Min: @Model.min_temp C&deg;  |  Max: @Model.max_temp C&deg;  |  Sunrise: @Model.sunrise  |  Sunset: @Model.sunset  |  Season: @Model.season
                    </span>
                }
            </div>
            <br/>
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
            <script>
                $(document).ready(function () {
                {
                    $(".datepicker").datepicker({
                        format: 'YYYY-MM-DD',
                        useCurrent: false,
                        showClose: true,
                        minDate: new Date('08/07/2012'),
                        maxDate: new Date('03/24/2022'),
                    });
                });
            </script>
            <canvas id="line-chart"></canvas>
            <br/><br/><br/>
            <script>
            Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("line-chart"), {
                type: '@Model.ChartModel.ChartType',
                    data: {
                    labels: [@Html.Raw(@Model.ChartModel.XLabels)],
                    datasets: [{
                        label: "Low Temperature",
                        borderColor: "#3e95cd",
                        data: [@Model.ChartModel.DataMin],
                        fill: false,
                    }, {
                        label: "High Temperature",
                        borderColor: "#c45850",
                        data: [@Model.ChartModel.DataMax],
                        fill: false,
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: '@Model.ChartModel.Title'
                    },
                    responsive: false,
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Degrees Celcius'
                            },
                            ticks: {
                                Min: -100,
                                Max: 0
                            }
                        }]
                    }
                }
            });
            </script>
        </p>
        <div class="footer">USF MSBAIS, 2022.</div>
    </div>
</body>

</html>
