@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@	
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/site.css">
</head>

<body>
<img style="background" src="https://api.nasa.gov/EPIC/archive/natural/2019/05/30/png/epic_1b_20190530011359.png?api_key=ldD32JgpHGnzPJyxRttoohWCJw7xOM4nNMBK3A0Q" />
    <div class="container">
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            @Html.ActionLink("Mars Weather", "Weather", "Weather")
            <a class="active">EpicEarth</a>
            @Html.ActionLink("Mars Rover Pictures", "Rovers" , "MarsRoverImage")
            @Html.ActionLink("About", "About", "About")
			
			<select id="page" onchange="doNavigate()"> 
                <option value="" selected="selected">Select</option> 
                <option value="@Url.Action("Index", "Home")">Home</option> 
                <option value="@Url.Action("apod", "ImageOfDay")">Astronomy Picture of the Day</option> 
                <option value="@Url.Action("Weather", "Weather")">Mars Weather</option> 
                <option value="@Url.Action("EpicEarth", "EpicEarth")">Epic Earth</option> 
                <option value="@Url.Action("Rovers" , "MarsRoverImage")">Mars Rover Pictures</option>
                <option value="@Url.Action("About", "About")">About</option> 
            </select> 
            <script>
                function doNavigate() {
                window.location.href = document.getElementById("page").value;
            }
            </script>

        </div>

				<script>					
					var apiKey = 'ldD32JgpHGnzPJyxRttoohWCJw7xOM4nNMBK3A0Q'; 

				      document.addEventListener('DOMContentLoaded', submitButtonsReady);

				      function submitButtonsReady(){
				        document.getElementById('dateInput').addEventListener('click', function(event){
				          var request = new XMLHttpRequest();

				          var date = document.getElementById('dateValue').value;
				          var dateArray = date.split("-");
				          var year = dateArray[0];
				          var month = dateArray[1];
				          var day = dateArray[2];

				          request.open('GET', 'https://api.nasa.gov/EPIC/api/natural/date/' + date + '?api_key=' + apiKey, true);
				          request.addEventListener('load',function(){
				           if(request.status >= 200 && request.status < 400){

				              var response = JSON.parse(request.responseText);

				              if(typeof(response[0].image) === 'string')
				              {
				                document.getElementById('imageStatus').textContent = 'Found';
				                document.getElementById('imageID').src = 'https://epic.gsfc.nasa.gov/archive/natural/' + year + '/' + month + '/' + day + '/jpg/' + response[0].image + '.jpg';
				                document.getElementById('imageCaption').textContent = response[0].caption;
				              }

				            } 
				            else 
				            { 
				                  console.log("Error in network request: " + request.statusText);

				             }});
				          document.getElementById('imageStatus').textContent = 'Please try a different date or check your syntax!';
				          request.send(null);
				          event.preventDefault();
				        })

				      }
					</script>
		
				<div align="center">	
			      <h2>Image Result</h2>
			        <span>Image Retrieval Status: </span><span id="imageStatus"></span>
			        <br>
			        <span>Image Caption: </span><span id="imageCaption"></span>
			        <br>
			        <br>
			        <h2>EPIC Image</h2>
			      <img style="background" id="imageID" src=""/>
   				 </div>
				<div align="center">
				<form>
			      <fieldset>
			        <legend>Date Input (YYYY-MM-DD)</legend>
			        <label for="dateValue">Date: </label>
			        <input type="text" name="dateValue" id="dateValue">
			        <input type="submit" id="dateInput">
			      </fieldset>
			    </form>
			    </div>
			</div>
					<br/>
					        <div class="footer">USF MSBAIS, 2022.</div>

</body>

</html>