@{
    ViewData["Title"] = "Astronomy Picture of the Day";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            @Html.ActionLink("Mars Weather", "Weather", "Weather")
            @Html.ActionLink("EpicEarth", "EpicEarth", "EpicEarth")
            @Html.ActionLink("Mars Rover Pictures", "Rovers" , "MarsRoverImage")
            <a class="active">About</a>
        </div>
        <div class="middle">
"           <br /><br />
            <p>Mission Statement<br />
                At Ninja Kittens 501(C)3 we believe in equal access to STEM data for all. Our websites are designed with our end-users in mind. 
                Ninja Kittens in Space is an interactive web application where students interested in physics and astronomy can gain access to 
                real-out-of-this-world NASA data. Here you’ll find the astronomy picture of the day, complete with supporting information, 
                as well as Mars weather and climate data from the Curiosity Rover at Gale Crater. We hope Ninja Kittens in Space is only the 
                beginning of your voyage.
            </p>
        </div>
        <div class="footer">USF MSBAIS, 2022.</div>
    </div>
</body>

</html>