@{
    ViewData["Title"] = "Astronomy Picture of the Day";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="topnav">
            <a class="active">Home</a>
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            @Html.ActionLink("Mars Weather", "Weather", "Weather")
            @Html.ActionLink("EpicEarth", "EpicEarth", "EpicEarth")
            @Html.ActionLink("Mars Rover Pictures", "Rovers" , "MarsRoverImage")
            @Html.ActionLink("About", "About", "About")
        </div>
        <div class="middle">
            <info>
                <label for="title">Select a Tab to Explore Connected NASA API's to Learn More About Space!</label>
                <br />

              
            </info> 
            
        </div> 
    </div>
    <img src="img/ninja kittens in space.png" style="width:99%;padding-top:12%;padding-left:2px;padding-right:1px;">
   
      <p style="color:pink;position: absolute;text-align: center; font-size: 22px; left: 53%;top:55%;transform:translate(-50%,-50%);padding:10px;background-color:black; opacity:75%"; >
          But outer Space,<br />
At least this far,<br />
For all the fuss<br />
Of the populace <br />
Stays more popular<br />
Than populous<br />
<br />
<em>-Robert Frost </em><br />
<br />
<br />
<i>"It suddenly struck me that that tiny pea, <br />
pretty and blue, was the Earth. <br />
I put up my thumb and shut one eye, <br />
and my thumb blotted out the planet Earth.<br />
I didn't feel like a giant. <br />
I felt very, very small."<br />
</i><br />
-Neil Armstrong<br />
</p>


      
    <div class="footer">USF MSBAIS, 2022.</div>
   
    
    
    
    
   
</body>

</html>
