@model MarsNasa.Models.MarsRoverImage
@{
    ViewData["Title"] = "Mars Rover Pictures";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <div class="topnav">
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Astronomy Picture of the Day", "apod", "ImageOfDay")
            @Html.ActionLink("Mars Weather", "Weather", "Weather")
            @Html.ActionLink("EpicEarth", "EpicEarth","EpicEarth")
            <a class="active">Mars Rover Pictures </a>
            @Html.ActionLink("About", "About", "About")
            
            <select id="page" onchange="doNavigate()"> 
                <option value="" selected="selected">Select</option> 
                <option value="@Url.Action("Index", "Home")">Home</option> 
                <option value="@Url.Action("apod", "ImageOfDay")">Astronomy Picture of the Day</option> 
                <option value="@Url.Action("Weather", "Weather")">Mars Weather</option> 
                <option value="@Url.Action("EpicEarth", "EpicEarth")">Epic Earth</option> 
                <option value="@Url.Action("Rovers" , "MarsRoverImage")">Mars Rover Pictures</option>
                <option value="@Url.Action("About", "About")">About</option> 
            </select> 
            <script>
                function doNavigate() {
                window.location.href = document.getElementById("page").value;
            }
            </script>
        </div>
        <div class="middle">
            <info>
            <input type="text" id="lbl1" value="0" style="display:none;">
            <button id="prevsbtn" onclick="updatephoto(-1); return false;">Previous</button>
            <button id="nextbtn" onclick="updatephoto(1); return false;">Next</button>
             
            <script> 
            function updatephoto(val) {
                var sb = document.getElementById('lbl1');
                var nIndex = parseInt(sb.value) + val;
                if (nIndex < 0 || nIndex >= 20)
                {
                    nIndex = 0;
                }
                sb.value = nIndex;

                if (sb.value == 0)  {

                    document.getElementById('pht1').src = "@Model.photos[0].img_src";
                }
                if (sb.value == 1)  {

                document.getElementById('pht1').src = "@Model.photos[1].img_src";
                }
                if (sb.value == 2)  {

                document.getElementById('pht1').src = "@Model.photos[2].img_src";
                }
                if (sb.value == 3)  {

                document.getElementById('pht1').src = "@Model.photos[3].img_src";
                }
                if (sb.value == 4)  {

                    document.getElementById('pht1').src = "@Model.photos[4].img_src";
                }
                if (sb.value == 5)  {

                document.getElementById('pht1').src = "@Model.photos[5].img_src";
                }
                if (sb.value == 6)  {

                document.getElementById('pht1').src = "@Model.photos[6].img_src";
                }
                if (sb.value == 7)  {

                document.getElementById('pht1').src = "@Model.photos[7].img_src";
                }
                if (sb.value == 8)  {

                    document.getElementById('pht1').src = "@Model.photos[8].img_src";
                }
                if (sb.value == 9)  {

                document.getElementById('pht1').src = "@Model.photos[9].img_src";
                }
                if (sb.value == 10)  {

                document.getElementById('pht1').src = "@Model.photos[10].img_src";
                }
                if (sb.value == 11)  {

                document.getElementById('pht1').src = "@Model.photos[11].img_src";
                }
                if (sb.value == 12)  {

                document.getElementById('pht1').src = "@Model.photos[12].img_src";
                }
                if (sb.value == 13)  {

                document.getElementById('pht1').src = "@Model.photos[13].img_src";
                }
                if (sb.value == 14)  {

                    document.getElementById('pht1').src = "@Model.photos[14].img_src";
                }
                if (sb.value == 15)  {

                document.getElementById('pht1').src = "@Model.photos[15].img_src";
                }
                if (sb.value == 16)  {

                document.getElementById('pht1').src = "@Model.photos[16].img_src";
                }
                if (sb.value == 17)  {

                document.getElementById('pht1').src = "@Model.photos[17].img_src";
                }
                if (sb.value == 18)  {

                    document.getElementById('pht1').src = "@Model.photos[18].img_src";
                }
                if (sb.value == 19)  {

                document.getElementById('pht1').src = "@Model.photos[19].img_src";
                }
                if (sb.value == 20)  {

                document.getElementById('pht1').src = "@Model.photos[20].img_src";
                }
             }
             </script>
            </info>
        </div>
    </div>
    <img id = "pht1" src="@Model.photos[0].img_src" >
    <div class="footer">USF MSBAIS, 2022.</div>
    
</body>

</html>